[Unit]
Description=Bosch Smarthome Exporter Service
After=network-online.target
Wants=network-online.target

[Service]
User=bosch_smarthome
Group=users
ExecStart=/usr/local/bosch-smarthome-exporter/main
WorkingDirectory=/usr/local/bosch-smarthome-exporter
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target